{% extends 'base.html' %}

{% block title %}
{{ user.username }}
{% endblock title %}


{% block content %}
<div class="list-group mb-4">
    <div class="list-group-item list-group-item-action">
        Имя пользователя: <b>{{ user.username }}</b>
    </div>
    <div class="list-group-item list-group-item-action">
        Почта: <b>{{ user.email }}</b>
    </div>
    <div class="list-group-item list-group-item-action">
        На сайте с: <b>{{ user.date_joined.date }}</b>
    </div>
    <div class="list-group-item list-group-item-action">
        Всего просмотров: <b>{{ total_views }}</b>
    </div>
    <div class="list-group-item list-group-item-action">
        Всего комментариев: <b>{{ total_comments }}</b>
    </div>
</div>


<div class="row row-gap-4">
    {% for article in articles %}
    <div class="col-4">
        <div class="card">
            <img src="{{ article.photo.url }}" class="card-img-top" alt="..." style="height: 300px; object-fit: cover;">
            <div class="card-body">
                <h5 class="card-title">{{ article.title }}</h5>
                <p class="card-text">{{ article.short_description }}</p>
            </div>
            <ul class="list-group list-group-flush">
                <li class="list-group-item">
                    Кол-во просмотров: <b>{{ article.views }}</b>
                </li>
                <li class="list-group-item">
                    Автор: <b>{{ article.author }}</b>
                </li>
                <li class="list-group-item">
                    Время создания: <b>{{ article.created_at }}</b>
                </li>
                <li class="list-group-item">
                    Категория: <b>{{ article.category }}</b>
                </li>
            </ul>
            <div class="card-body">
                <a href="{% url 'article_detail' article.pk %}" class="card-link">Подробнее</a>
            </div>
        </div>
    </div>
    {% endfor %}
</div>

{% endblock %}